#bg_1 {
  position: absolute;
  background-image: url("../images/active_bg/1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
}

#bg_2 {
  position: absolute;
  background-image: url("../images/active_bg/2.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
}

#bg_3 {
  position: absolute;
  background-image: url("../images/active_bg/3.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
}

#bg_4 {
  position: absolute;
  background-image: url("../images/active_bg/4.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
}

#bg_5 {
  position: absolute;
  background-image: url("../images/active_bg/5.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
}

#bg_6 {
  position: absolute;
  background-image: url("../images/active_bg/6.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
}

#bg_7 {
  position: absolute;
  background-image: url("../images/active_bg/7.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
}

#bg_8 {
  position: absolute;
  background-image: url("../images/active_bg/8.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
}

#bg_9 {
  position: absolute;
  background-image: url("../images/active_bg/9.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
}

#bg_10 {
  position: absolute;
  background-image: url("../images/active_bg/10.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
}

#bg_11 {
  position: absolute;
  background-image: url("../images/active_bg/11.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
}

#bg_12 {
  position: absolute;
  background-image: url("../images/active_bg/12.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
}
